.Button {
  cursor: pointer;
  outline: none;
  height: 3.8vw;
  width: 12vw;
  border-radius: 8px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;

  &_m {
    width: 16vw;
  }

  i {
    font-size: 1.3vw;
    margin-right: 14px;
  }

  &-Text {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8vw;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    letter-spacing: 0.3px;
  }
}