.Point {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-Dot {
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 100%;
    border: 0.4vw solid white;
  }

  &_checked {
    width: 1.8vw;
    height: 1.8vw;
    background-color: #2998cc;

    i {
      font-size: 1.3vw;
      color: white;
    }
  }

  &_current {
    width: 2.3vw;
    height: 2.3vw;
    background-color: #2998cc;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_disabled {
    width: 16px;
    height: 16px;
    background-color: #dde3eb;
  }
}

